$backgroundcolor:#edeff4;


$card-background:#ffffff;
$card-box-shadow:0 1px 3px 0 rgba(0,0,0,0.15);
$card-border-radius:2px;
$card-width:390px;
$card-height:310px;


$ps-info-width:336px;
$ps-info-height:469px